.border-container {
  min-width: calc(var(--login-border-container-width) + 12px);
  border: 6px solid #FFFFFF;
  border-radius: 16px;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login-box {
  max-width: var(--login-border-container-width);
  width: 100%;
  padding: 3.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #E2E9EE;
}

.login-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  text-align: center;
  font-size: 1.125rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.25rem;
}

.form-input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  height: 55px;
}

.form-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.input-error {
  border-color: #ef4444;
}

.input-error:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
}


.form-error {
  color: #ef4444;
  font-size: 0.875rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #fef2f2;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 0.625rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.login-button:hover:not(:disabled) {
  background-color: #2563eb;
}

.login-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-footer {
  text-align: center;
  font-size: 0.875rem;
}

.footer-text {
  color: #4b5563;
}

.footer-link {
  color: #242EDB;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  position: relative;
}

.footer-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #242EDB;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #2563eb;
}

.test-data {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #eff6ff;
  border-radius: 4px;
}

.test-data-text {
  font-size: 0.75rem;
  color: #1e40af;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  font-size: 1rem;
  margin: 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.remember-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  position: relative;
  transition: all 0.2s ease;
}

.remember-checkbox:hover .checkbox-custom {
  border-color: #9C9C9C;
}

.checkbox-input:checked + .checkbox-custom {
  border-color: #007bff;
  background-color: #007bff;
}

.checkbox-input:checked + .checkbox-custom::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-label {
  color: #9C9C9C;
  font-size: 1rem;
  user-select: none;
}

.checkbox-input:focus + .checkbox-custom {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.input-login-container {
  position: relative;
}

.btn-login-input {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: unset;

  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease;
  animation: fadeIn 0.2s ease;
}