.btn-login-input-login {
    background-image: url('../../../assets/Group\ 1.svg');
}

.btn-login-input-password {
    background-image: url('../../../assets/Icon\ \(1\).svg');
    width: 20px;
    height: 20px;
}